fastapi>=0.68.0,<0.69.0
pydantic>=1.8.0,<2.0.0
uvicorn>=0.15.0,<0.16.0
pymongo>=4.0.0
passlib[bcrypt]>=1.7.4
python-multipart>=0.0.5
itsdangerous>=2.0.1
fastapi-sessions>=0.3.2
email-validator>=1.1.3
